@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;700&display=swap");

/* font-family: 'Heebo', sans-serif
Heebo: Variables: Regular 400 | Bold 700*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #201d3a;
}

body {
  background-color: #f5f4ff;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

body header {
  padding: 15px;
  display: flex;
  align-items: center;
  background-color: #dfdcfe;
  border-bottom: 1px solid #d5d4e7;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.17);
}

body header .icono-koala {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}

body header h1 {
  font-size: larger;
  color: #8B80EF;
}

body main {
  margin: 15px;
  margin-top: 40px;
  background-color: #c4ae85;
}

body main .contenedor-search {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  top: 0;
  left: 0;
}

body main .contenedor-search #input-search {
  appearance: none;
  width: 100%;
  border: none;
  padding: 10px 15px;
  font-family: "Heebo", sans-serif;
  border-radius: 24px;
  color: #201d3a;
  background-color: #dfdcfe;
}

body main .contenedor-search #input-search::placeholder {
  font-style: italic;
  color: #aaa6c4;
}

body main .contenedor-search .search-button-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  width: 20px;
  height: 100%;
  border: none;
  background: url(/assets/icons8-búsqueda-30.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

body main .contenedor {
  flex-grow: 1;
  background-color: #52669d;
  height: 77.5vh;
  overflow-y: auto;
}

body main .contenedor .cuadraditos {
  background-color: #464453;
  width: 20px;
  height: 20px;
  margin-bottom: 50px;
}

body main #contenedor-notas {
  display: none;
}

body main #btn-flotante-crear {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 6px 6px;
  appearance: none;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  border-radius: 20px;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: url(/assets/icons8-más-48.png);
  background-color: #8B80EF;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.17);
}

body main #btn-flotante-crear.disabled {
  display: none;
}

body #bottom-sheet {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #B6B0FB;
  border-radius: 12px 12px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

body #bottom-sheet > * {
  appearance: none;
}

body #bottom-sheet .icon-close {
  width: 20px;
  height: 20px;
  margin-left: auto;
  background: url(/assets/icons8-cerrar-30.png);
  background-position: center;
  background-size: contain;
}

body #bottom-sheet [type=text] {
  appearance: none;
  width: 100%;
  border: none;
  padding: 10px 15px;
  font-family: "Heebo", sans-serif;
  border-radius: 24px;
  color: #201d3a;
  background-color: #dfdcfe;
}

body #bottom-sheet [type=text]::placeholder {
  font-style: italic;
  color: #aaa6c4;
}

body #bottom-sheet [type=text]#input-create-note-title {
  font-size: smaller;
  font-weight: 600;
}

body #bottom-sheet [type=text]#input-create-note-content {
  font-size: smaller;
  font-weight: 400;
  color: #807f89;
}

body #bottom-sheet #btn-create-new {
  padding: 6px 6px;
  appearance: none;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  border-radius: 20px;
  border: none;
  display: flex;
  background-color: #8B80EF;
  color: white;
  width: max-content;
  padding-left: 15px;
  padding-right: 15px;
}

body #bottom-sheet #btn-create-new .icon-crear {
  width: 20px;
  height: 20px;
  background-color: white;
  background: url(/assets/icons8-más-48.png);
  background-position: center;
  background-size: contain;
}

body #bottom-sheet.disabled {
  display: none;
}

.disabled {
  display: none;
}
