@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f4ff;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body header {
  padding: 15px;
  display: flex;
  align-items: center;
  background-color: #dfdcfe;
  border-bottom: 1px solid #d5d4e7;
  -webkit-box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.17);
}
body header .icono-koala {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}
body header h1 {
  font-size: larger;
  color: #8B80EF;
}
body main {
  margin: 15px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 50px;
}
body main .form-search {
  display: flex;
  flex-direction: column;
}
body main .form-search .contenedor-search {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  top: 0;
  left: 0;
}
body main .form-search .contenedor-search #input-search {
  appearance: none;
  width: 100%;
  border: none;
  padding: 10px 15px;
  font-family: "Heebo", sans-serif;
  border-radius: 24px;
  color: #201d3a;
  background-color: #dfdcfe;
}
body main .form-search .contenedor-search #input-search::placeholder {
  font-style: italic;
  color: #aaa6c4;
}
body main .form-search .contenedor-search .search-button-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  width: 20px;
  height: 100%;
  border: none;
  background: url(/assets/icons8-búsqueda-32.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body main .form-search .filters {
  display: flex;
  margin: 6px 23px 15px auto;
  align-items: center;
}
body main .form-search .filters p {
  margin-right: 6px;
  color: #464453;
  font-size: small;
}
body main .form-search .filters [type=checkbox] {
  appearance: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 2px solid #A8A5C6;
  border-radius: 3px;
  background-color: #d4d1ee;
  background-position: center;
  background-size: cover;
}
body main .form-search .filters [type=checkbox]:checked {
  appearance: none;
  border: 2px solid #8B80EF;
  background-color: #8B80EF;
  background-image: url(/assets/icons8-marca-de-verificación-64.png);
}
body main .contenedor-scroll-notas {
  flex-grow: 1;
  position: relative;
}
body main .contenedor-scroll-notas #contenedor-notas {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
body main .contenedor-scroll-notas #contenedor-notas .note {
  word-wrap: break-word;
  background-color: #dfdcfe;
  border-radius: 15px;
  padding: 15px;
}
body main .contenedor-scroll-notas #contenedor-notas .note div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .contenedor-scroll-notas #contenedor-notas .note div h2 {
  color: #8B80EF;
}
body main .contenedor-scroll-notas #contenedor-notas .note div input[type=checkbox] {
  appearance: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 2px solid #A8A5C6;
  border-radius: 3px;
  background-color: #d4d1ee;
  background-position: center;
  background-size: cover;
}
body main .contenedor-scroll-notas #contenedor-notas .note div input[type=checkbox]:checked {
  appearance: none;
  border: 2px solid #8B80EF;
  background-color: #8B80EF;
  background-image: url(/assets/icons8-marca-de-verificación-64.png);
}
body main .contenedor-scroll-notas #contenedor-notas .note p {
  margin-top: 6px;
  color: #464453;
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-checked=true][data-editable=false] {
  background-color: #B6B0FB;
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-checked=true][data-editable=false] h2,
body main .contenedor-scroll-notas #contenedor-notas .note[data-checked=true][data-editable=false] p {
  text-decoration: line-through;
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-checked=true][data-editable=false] h2 {
  color: #8B80EF;
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: #B6B0FB;
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] [type=text],
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] textarea {
  appearance: none;
  width: 100%;
  border: none;
  padding: 10px 15px;
  font-family: "Heebo", sans-serif;
  border-radius: 24px;
  color: #201d3a;
  background-color: #dfdcfe;
  color: #201d3a;
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] [type=text]::placeholder,
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] textarea::placeholder {
  font-style: italic;
  color: #aaa6c4;
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] [type=text].title,
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] textarea.title {
  font-size: smaller;
  font-weight: 600;
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] [type=text].content,
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] textarea.content {
  font-size: smaller;
  font-weight: 400;
  color: #807f89;
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] div.buttons {
  margin-top: 6px;
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] div.buttons button {
  padding: 6px 6px;
  appearance: none;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  border-radius: 20px;
  border: none;
  display: flex;
  gap: 6px;
  padding: 6px 12px;
  align-items: center;
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] div.buttons button p {
  color: white;
  margin: 0;
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] div.buttons button span.icon {
  display: block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] div.buttons button span.icon.remove {
  background-image: url(assets/icons8-basura-32\ \(1\).png);
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] div.buttons button span.icon.save {
  background-image: url(assets/icons8-guardar-32.png);
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] div.buttons button span.icon.cancel {
  background-image: url(assets/icons8-multiplicar-32\ \(1\).png);
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] div.buttons button.remove {
  background-color: #ff8a8a;
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] div.buttons button.save {
  background-color: #8B80EF;
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] div.buttons button.cancel {
  background-color: #dfdcfe;
}
body main .contenedor-scroll-notas #contenedor-notas .note[data-editable=true] div.buttons button.cancel p {
  color: #8B80EF;
  font-weight: 600;
}
body main #btn-flotante-crear {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 6px 6px;
  appearance: none;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  border-radius: 20px;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 60px;
  background: url(/assets/icons8-más-32.png);
  background-color: #8B80EF;
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  -webkit-box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.17);
}
body main #btn-flotante-crear.disabled {
  display: none;
}
body #bottom-sheet {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #B6B0FB;
  border-radius: 12px 12px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
body #bottom-sheet > * {
  appearance: none;
}
body #bottom-sheet .icon-close {
  width: 20px;
  height: 20px;
  margin-left: auto;
  background: url(/assets/icons8-multiplicar-32\ \(1\).png);
  background-position: center;
  background-size: contain;
}
body #bottom-sheet [type=text],
body #bottom-sheet textarea {
  appearance: none;
  width: 100%;
  border: none;
  padding: 10px 15px;
  font-family: "Heebo", sans-serif;
  border-radius: 24px;
  color: #201d3a;
  background-color: #dfdcfe;
  color: #201d3a;
}
body #bottom-sheet [type=text]::placeholder,
body #bottom-sheet textarea::placeholder {
  font-style: italic;
  color: #aaa6c4;
}
body #bottom-sheet [type=text]#input-create-note-title,
body #bottom-sheet textarea#input-create-note-title {
  font-size: smaller;
  font-weight: 600;
}
body #bottom-sheet [type=text]#input-create-note-content,
body #bottom-sheet textarea#input-create-note-content {
  font-size: smaller;
  font-weight: 400;
  color: #807f89;
}
body #bottom-sheet #btn-create-new {
  padding: 6px 6px;
  appearance: none;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  border-radius: 20px;
  border: none;
  display: flex;
  background-color: #8B80EF;
  color: white;
  width: max-content;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}
body #bottom-sheet #btn-create-new .icon-crear {
  margin-left: 6px;
  width: 15px;
  height: 15px;
  background-color: white;
  background: url(/assets/icons8-más-32.png);
  background-position: center;
  background-size: contain;
}
body #bottom-sheet.disabled {
  display: none;
}

.disabled {
  display: none;
}

/*# sourceMappingURL=style.css.map */
